<% layout("/layouts/boilerplate") %>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <style>
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.filter {
  text-align: center;
  margin-right: 2.5rem;
  margin-top: 2rem;
  opacity: 0.7;
  display: inline-block;
  margin-right: 10px;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.tax-toggle:hover {
  opacity: 1;
  cursor: pointer;
}

.listing-card {
  width: 20rem;
  margin-bottom: 20px;
}

.listing-card img {
  height: 20rem;
  object-fit: cover;
}

/* Media Queries */

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  #filters {
    justify-content: center;
    padding: 0 10px;
  }
  
  .filter {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  
  .filter p {
    font-size: 0.7rem;
  }
  
  .tax-toggle {
    margin: 1rem auto;
    font-size: 0.8rem;
    height: 2.75rem;
    padding: 0.4rem 0.8rem;
  }
  
  .listing-card {
    width: 100%;
  }
  
  .listing-card img {
    height: 15rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #filters {
    justify-content: space-around;
  }
  
  .filter {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .tax-toggle {
    margin: 1rem auto;
    width: 100%;
    max-width: 300px;
  }
  
  .listing-card {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .filter {
    margin-right: 1.5rem;
  }
  
  .listing-card {
    width: 18rem;
  }
  
  .listing-card img {
    height: 18rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .filter{
    margin-right: 1.5rem;
  }
  #filters {
    justify-content: flex-start;
  }
  
  .tax-toggle {
    margin-left: auto;
  }
}

/* Ensure the listing links fit their container */
.listing-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .row {
    justify-content: center;
  }
}
    </style>
        <div id="filters">
          <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
          </div>
          <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </div>
          <div class="filter">
            <div><i class="fa-sharp fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-campground"></i></i></div>
            <p>Camping</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
          </div>
          <div class="filter">
            <div><i class="fa-sharp fa-solid fa-igloo"></i></div>
            <p>Domes</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
          </div>
    
          <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
              <input class="form-check-input" 
              type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" 
              for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
          </div>
        </div>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
          <% for(let listing of allListings) { %>
              <a href="/listings/<%= listing._id%>" class="listing-link">
              <div class="card col listing-card" style="width: 20rem;">
                  <img 
                  src="<%= listing.image.url%>" 
                  class="card-img-top" 
                  alt="<%= listing.image.filename %>" 
                  style="height: 20rem;">
                  <div class="card-img-overlay"></div>
                  <div class="card-body">
                    <p class="card-text">
                   <b> <%= listing.title%></b><br>
                    &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                    <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
                    </p>
                  </div>
                </div>
              </a>
                <% } %>
      </div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",() => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }else {
        info.style.display = "none";
      }
    }
  });
</script>
